@import '~antd/dist/antd.css';

.ant-layout {
  height: 100vh;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.content-wrapper {
  height: 100%;
  margin-left: 40px;
  margin-top: 20px;
}

.content-empty {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}